*{margin: 0;
    padding: 0;}
    a{text-decoration: none; color: #000;}
    body{
        font-family: 'TheJamsil';
        font-size:14px;
        color:#000;
        line-height:24px;
    }
    #header_wrap{
        width: 100%;
        background-color: rgb(236, 202, 5);
        margin: 0 auto;
        box-sizing: border-box;
        height: 270px;
    }
    .header_top{
        width: 1300px;
        height: 120px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .header_top img{
        width: 250px;
        height: 120px;
    }
    .header_bottom{
        width: 1300px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    #hbrd{
        width: 500px;
        margin: 30px auto;
        padding-top: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
    
    }
    #hbrd li{}
    #hbrd li a{font-size: 25px;
        text-decoration: none;
        color: rgb(255, 255, 255);}
    #hbrd li a:hover{
        color: rgb(227, 243, 0);
    }

    #banner{
        width: 1300px;
        height: 600px;
        margin: 0 auto;
    }
    #scroller{
        list-style: none;
    }

    
    #section1{
        width: 1300px;
        height: 450px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }
    #section1 h2{
        font-size: 50px;
        color: red;
        
    }
    .section1_p1{
        font-size: 20px;
        line-height: 30px;
        margin: 35px 0;
    }
    .section1_p2{
        color: white;
        border: 1px red solid;
        border-radius: 15px;
        background-color: red;
        padding: 15px;
        font-size: 30px;
        margin-top: 20px;
        width: 800px;
        height: 30px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section1 img{
        margin: 20px 0;
    }
    #section2{
        width: 1300px;
        height: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }
    .section2_left{
        width: 400px;
        height: 280px;
        position: relative;
        background: url(../img/about.png) no-repeat top right;
        

        
    }
    .section2_left p{
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 25px;
        color: white;
    }
    .section2_middle{
        width: 400px;
        height: 280px;
        position: relative;
        background: url(../img/photo.png) no-repeat top right;
    }
    .section2_middle p{
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 25px;
        color: white;
    }
    .section2_right{
        width: 400px;
        height: 280px;
        position: relative;
        background: url(../img/location.png) no-repeat top right;
    }
    .section2_right p{
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 25px;
        color: white;
    }

    #section3{
        width: 1300px;
        margin: 0 auto;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .section3_left img{
        width: 100px;
        height: 100px;
    }
    .section3_middle{
        margin: 0 30px;
    }
    .section3_middle p{
        font-size: 40px;
        text-align: center;
        line-height: 40px;
    }
    .section3_right p{
        font-size: 70px;

    }
    .section3_right p:hover{
        color: red;
    }

    #footer_wrap{
        width: 100%;
        height: 200px;
        background-color: rgb(236, 202, 5);
    }
    .footer{
        width: 1300px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .footer_left img{
        width: 150px;
        height: 120px;
        margin-right: 50px;
    }
    .footer_right p{
        font-size: 25px;
        line-height: 40px;
        color: white;
    }

    
    
    #top_bottom{
        width: 50px;
        height: 80px;
        position: fixed;
        bottom: 30px; right: 30px;
        background-color: black;
        text-align: center;
        clear: both;
    }
    #top_bottom a{
        font-size: 30px;
        display: block;
        color: #000;
    }
    #top_bottom .up{
        width: 50px;
        height: 40px;
        border: 1px solid white;
        background-color: rgb(236, 202, 5);    
    }
    #top_bottom .up a{
        padding: 8px;
        opacity: 0.8;
        display: block;
        color: white;
    }
    #top_bottom .up a:hover{
        opacity: 1;
        font-weight: bold;
        
    }
    #top_bottom .down{
        width: 50px;
        height: 40px;
        text-align: center;
        background-color: rgb(236, 202, 5);  
        border: 1px solid rgb(255, 255, 255);
    }
    #top_bottom .down a{
        padding-top: 8px;
        opacity: 0.8;
        display: block;
        color: white;
    }
    #top_bottom .down a:hover{
        opacity: 1;
        font-weight: bold;
    }
